---
import { Icon } from "astro-icon/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Kontakt</Fragment>
      <Fragment slot="desc">Máte na nás nějaké otázky?</Fragment>
    </Sectionhead>
    
    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h4 class="font-medium text-xl text-gray-800">Správa uživatelů a podpora pro oblast Čech</h4>
        <!-- <p class="text-lg leading-relaxed text-slate-500 mt-3">
        Správa uživatelů a podpora pro oblast Čech
        </p> -->
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Archeologický ústav AV ČR, Praha, v. v. i.</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
            <a href="mailto:amcr@arup.cas.cz">
              amcr@arup.cas.cz
            </a>
          </div>
        </div>
        <!-- <div class="flex items-center mt-2 space-x-2 text-gray-600">
        <Icon class="text-gray-400 w-4 h-4" name="uil:phone" />
        <a href="tel:222555888">222555888</a>
        </div> -->
        <!-- <p class="text-lg leading-relaxed text-slate-500 mt-3">
        Správa uživatelů a podpora pro oblast Moravy
        </p> -->
        <hr style="margin: 20px"></hr>
        <h4 class="font-medium text-xl text-gray-800">Správa uživatelů a podpora pro oblast Moravy a Slezska (vč. Kraje Vysočina)</h4>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Archeologický ústav AV ČR, Brno, v. v. i.</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
            <a href="mailto:amcr@arub.cz">
              amcr@arub.cz
            </a>
          </div>
          <!-- <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:phone" />
          <a href="tel:222555888">222555888</a>
          </div> -->
        </div>
      </div>
      <div class="bg-slate-100 p-5 md:p-8 rounded-xl mb-5">
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
