---
const downloads = [
  {
    name: "Zpravodaj AMČR 1",
    format: "PDF",
    description:
      "Úvodní dopis s informacemi o zahájení provozu systému AMČR (1. 6. 2017).",
    link: "https://amcr-info.aiscr.cz/downloads/AMCR_info_01.pdf",
  },
  {
    name: "Zpravodaj AMČR 2",
    format: "PDF",
    description:
      "Souhrn informací k prvním měsícům provozu systému AMČR (3. 11. 2017).",
    link: "https://amcr-info.aiscr.cz/downloads/AMCR_info_02.pdf",
  },
  {
    name: "Zpravodaj AMČR 3",
    format: "PDF",
    description:
      "Souhrn informací k provozu a práci v systému AMČR (29. 3. 2018).",
    link: "https://amcr-info.aiscr.cz/downloads/AMCR_info_03.pdf",
  },
  {
    name: "Zpravodaj AMČR 4",
    format: "PDF",
    description:
      "Souhrn informací k provozu a práci v systému AMČR (22. 8. 2018).",
    link: "https://amcr-info.aiscr.cz/downloads/AMCR_info_04.pdf",
  },
  {
    name: "Zpravodaj AMČR 5",
    format: "PDF",
    description:
      "Souhrn informací k provozu a práci v systému AMČR (28. 11. 2018).",
    link: "https://amcr-info.aiscr.cz/downloads/AMCR_info_05.pdf",
  },
  {
    name: "Zpravodaj AMČR 6",
    format: "PDF",
    description:
      "Souhrn informací k provozu a novým datům v systému AMČR (6. 2. 2019).",
    link: "https://amcr-info.aiscr.cz/downloads/AMCR_info_06.pdf",
  },
  {
    name: "Zpravodaj AMČR 7",
    format: "PDF",
    description:
      "Souhrn informací k provozu a novým datům v systému AMČR (29. 3. 2021).",
    link: "https://amcr-info.aiscr.cz/downloads/AMCR_info_07.pdf",
  },
  {
    name: "Zpravodaj AMČR 8",
    format: "PDF",
    description:
      "Souhrn informací k provozu a novým datům v systému AMČR (10. 5. 2021).",
    link: "https://amcr-info.aiscr.cz/downloads/AMCR_info_08.pdf",
  },
  {
    name: "Zpravodaj AMČR 9",
    format: "PDF",
    description:
      "Souhrn informací k provozu a novým datům v systému AMČR (17. 5. 2022).",
    link: "https://amcr-info.aiscr.cz/downloads/AMCR_info_09.pdf",
  },
  {
    name: "Zpravodaj AMČR 10",
    format: "PDF",
    description:
      "Souhrn informací k provozu a novým datům v systému AMČR (3. 8. 2023).",
    link: "https://amcr-info.aiscr.cz/downloads/AMCR_info_10.pdf",
  },
  {
    name: "Zápis dokumentačních jednotek",
    format: "PDF",
    description:
      "Návod na správné rozlišení a zápis dokumentačních jednotek typu Celek / Část / Sonda.",
    link: "https://amcr-info.aiscr.cz/downloads/DJ_celek_cast_sonda.pdf",
  },
  {
    name: "Zápis ADB",
    format: "PDF",
    description:
      "Návod na správný archeologických dokumentačních bodů v rámci městských památkových rezervací, zejména Pražské památkové rezervace.",
    link: "https://amcr-info.aiscr.cz/downloads/Zapis_ADB_221014.pdf",
  },
  {
    name: "Zpracování akcí drobného rozsahu",
    format: "PDF",
    description:
      "Dokument popisuje doporučený postup při evidenci akcí menšího rozsahu s pozitivním archeologickým zjištěním.",
    link: "https://amcr-info.aiscr.cz/downloads/AMCR_drobne_akce_230125.pdf",
  },
  {
    name: "Instalace AMČR",
    format: "PDF",
    description: "Návod pro instalaci plné i školící verze aplikace AMČR.",
    link: "https://amcr-info.aiscr.cz/downloads/AMCR_instalace_navod.pdf",
  },
  {
    name: "Často kladené otázky",
    format: "PDF",
    description:
      "Dokument s řešením často kladených otázek na uživání AMČR (aktualizace 26. 10. 2017).",
    link: "https://amcr-info.aiscr.cz/downloads/AMCR_caste_dotazy.pdf",
  },
  {
    name: "Řešení nejčastějších chyb",
    format: "PDF",
    description:
      "Návod pro řešení typických obtíží s AMČR (aktualizace 31. 1. 2019).",
    link: "https://amcr-info.aiscr.cz/downloads/AMCR_reseni_potizi.pdf",
  },
  {
    name: "Dodatek ke smlouvě - ARÚP",
    format: "DOC",
    description:
      'Dodatek k dohodě o užívání AMČR určený ke změně uživatelských oprávnění na úrovni "archeolog".',
    link: "https://amcr-info.aiscr.cz/downloads/dodatek_AMCR_ARUP.doc",
  },
  {
    name: "Dodatek ke smlouvě - ARÚB",
    format: "DOC",
    description:
      'Dodatek k dohodě o užívání AMČR určený ke změně uživatelských oprávnění na úrovni "archeolog".',
    link: "https://amcr-info.aiscr.cz/downloads/dodatek_AMCR_ARUB.doc",
  },
  {
    name: "Převodník identifikátorů IDAV",
    format: "XLS",
    description:
      "Postup převodu identifikátoru projektu mezi starším systémem IDAV a AMČR.",
    link: "https://amcr-info.aiscr.cz/downloads/IDAV_prevodnik_AMCR.xls",
  },
  {
    name: "Aplikace UNITRANS",
    format: "EXE",
    description:
      "Slouží k převodu souřadnic mezi různými souřadnicovými systémy.",
    link: "https://amcr-info.aiscr.cz/downloads/Unitrans_2015.exe",
  },
  {
    name: "Informační leták AMČR",
    format: "PDF",
    description: "Krátký návod pro se základním popisem AMČR.",
    link: "https://amcr-info.aiscr.cz/downloads/AMCR_letak.pdf",
  },
  {
    name: "Prezentace AMČR",
    format: "PDF",
    description: "Základní seznámení s AMČR a jejími funkcemi.",
    link: "https://amcr-info.aiscr.cz/downloads/AMCR_prezentace_161206.pdf",
  },
  {
    name: "Metodika evidence leteckých průzkumů",
    format: "PDF",
    description:
      'Certifikovaná "Metodika zpracování a evidence dat leteckého průzkumu v archeologii".',
    link: "https://amcr-info.aiscr.cz/downloads/METODIKA_B5_ebook.pdf",
  },
  {
    name: "ARCHIV 3.1",
    format: "ZIP",
    description: "Aplikace ARCHIV v3.1 pro práci s databází ADČ",
    link: "https://amcr-info.aiscr.cz/downloads/INSTALACE.ZIP",
  },
  {
    name: "ADČ 2017",
    format: "MDB",
    description: "Archeologická databáze Čech - kompletní verze (2017)",
    link: "https://amcr-info.aiscr.cz/downloads/ADC2017.mdb",
  },
];
---

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <caption
      class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
      Ke stažení
      <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
        Ahoj, tady je popis
      </p>
    </caption>
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3"> Název </th>
        <th scope="col" class="px-6 py-3"> Formát </th>
        <th scope="col" class="px-6 py-3"> Popis </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Stáhnout</span>
        </th>
      </tr>
    </thead>
    <tbody>
      {
        downloads.map((item, index) => (
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {item.name}
            </th>
            <td class="px-6 py-4">{item.format}</td>
            <td class="px-6 py-4">{item.description}</td>
            <td class="px-6 py-4 text-right">
              <a
                href={item.link}
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                Stáhnout
              </a>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
