---
import Container from "@components/container.astro";
import { Icon } from "astro-icon/components";

const { margin } = Astro.props;

const footermenu = {
  company: [
    {
      title: "Návod",
      path: "aiscr-amcr-home/navod",
    },
    {
      title: "Kam",
      path: "#",
    },
    {
      title: "Blog",
      path: "aiscr-amcr-home/blog",
    },
    {
      title: "Kontakt",
      path: "aiscr-amcr-home/kontakt",
    },
  ],
  product: [
    {
      title: "Další",
      path: "#",
    },
    {
      title: "Věci",
      path: "#",
    },
    {
      title: "Domů",
      path: "aiscr-amcr-home/",
    },
    {
      title: "Služby",
      path: "aiscr-amcr-home/sluzby",
    },
  ],
  resources: [
    {
      title: "Pomoc",
      path: "#",
    },
    {
      title: "Témata",
      path: "#",
    },
    {
      title: "Dokumentace",
      path: "#",
    },
    {
      title: "Status",
      path: "#",
    },
  ],
};
---

<footer
  class:list={[
    "py-14 bg-slate-100 border-t border-slate-100",
    margin && "mt-10",
  ]}>
  <Container>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
      <div class="sm:col-span-2 md:col-span-3 lg:col-span-2">
        <a href="aiscr-amcr-home/" class="text-lg flex items-center"
          ><span class="font-bold text-red-600">AM</span><span
            class="text-slate-600 font-bold">ČR</span
          >
        </a>
        <p class="mt-4 text-sm text-slate-700 max-w-xs">
          Projekt
        </p>
        <div class="flex gap-3 mt-4 items-center">
          <a
            href=""
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <Icon name="bx:bxl-twitter" class="w-4 h-4" />
            <span class="sr-only">Twitter or X</span></a
          >
          <a
            href=""
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <Icon name="bx:bxl-facebook-circle" class="w-4 h-4" /><span
              class="sr-only">Facebook</span
            ></a
          >
          <a
            href=""
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <Icon name="bx:bxl-linkedin-square" class="w-4 h-4" /><span
              class="sr-only">Linkedin</span
            ></a
          >
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">Nic</h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.company.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-slate-600 hover:text-red-600">
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">Nikdo</h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.product.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-slate-600 hover:text-red-600">
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">Data</h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.resources.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-slate-600 hover:text-red-600">
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </Container>

  <div class="mt-14 pt-8 px-5 border-t border-slate-200">
    <Container>
      <p class="text-center text-sm text-slate-600 [text-wrap:balance]">
        Copyright © {new Date().getFullYear()} AMČR
      </p>
      <p class="text-center text-xs text-slate-600 mt-2">
        <a href="aiscr-amcr-home/test" class="hover:text-red-500"> Test</a> ・ <a
          href="aiscr-amcr-home/nevim"
          class="hover:text-red-500">
          Nevím</a
        >
      </p>
    </Container>
  </div>
</footer>
